body {
  counter-reset: section;

  background-color: beige;
  font-family: "Linux Biolinum";
  margin-top: 60px;
  margin-bottom: 60px;
  margin-right: max(min(15%,60px),calc(50% - 500px));
  margin-left: max(min(15%,60px),calc(50% - 500px));
  width: min(max(70%,calc(100% - 120px)),1000px);
}

h1:before {
  counter-increment: section;
}

h1 {
  counter-reset: subsection;

  margin-bottom: 100px;
  text-align: center;
}

h2:before {
  counter-increment: subsection;
}

h2 {
  counter-reset: subsubsection;
}

h3:before {
  counter-increment: subsubsection;
  content: counter(subsubsection) ". ";
}

/* unvisited link */
a:link {
  color: darkred;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: palevioletred;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  text-decoration: underline;
}

/* selected link */
a:active {
  text-decoration: underline;
}
