/*
This CSS sheet is available under the CC0 license: https://creativecommons.org/publicdomain/zero/1.0/
*/

@import url('https://fonts.cdnfonts.com/css/linux-biolinum');

body {
  counter-reset: section;

  background-color: beige;
  font-family: "Linux Biolinum", sans-serif;
  margin-top: 60px;
  margin-bottom: 60px;
  /*
    The space between the margins is at most 800px wide.
    
    When there is no space for that (i.e. window ≤920px), each margin is at least
    - 60px wide (if the window is still fairly wide, i.e. ≥400px)
    - 15% of the window (if the window is fairly narrow, i.e. ≤400px)
  */
  margin-right: max(min(15%,60px),calc(50% - 400px));
  margin-left: max(min(15%,60px),calc(50% - 400px));
  width: min(max(70%,calc(100% - 120px)),800px);
}

h1:before {
  counter-increment: section;
}

h1 {
  counter-reset: subsection;

  margin-bottom: 100px;
  text-align: center;
}

h2:before {
  counter-increment: subsection;
  content: "❖ ";
  float: left;
  width: 40px;
}

h2 {
  counter-reset: subsubsection;
  left: 40px;
  margin-left: -40px;
}

h3:before {
  counter-increment: subsubsection;
  content: counter(subsubsection) ". ";
  float: left;
  width: 40px;
}

h3 {
  counter-reset: paragraph;
  left: 40px;
  margin-left: -40px;
}

h4:before {
  counter-increment: paragraph;
  content: counter(subsubsection) "." counter(paragraph) ". ";
  float: left;
  width: 40px;
}

h4 {
  left: 40px;
  margin-left: -40px;
}

/* unvisited link */
a:link {
  color: darkred;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: palevioletred;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  text-decoration: underline;
}

/* selected link */
a:active {
  text-decoration: underline;
}

.sidenav {
  height: 40px;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: palegoldenrod;
  overflow-x: hidden;
  padding-top: 20px;
}

.center{
  text-align: center;
}

code {
  font-family: "Linux Libertine", monospace;
  font-size: 75%;
  color: midnightblue;
}
